Ejercicio 1

In [1]:
#imports
import seaborn as sns
import sys, pandas as pd, seaborn as sns, matplotlib

df = sns.load_dataset('iris')
df.head()
df.rename(columns={
    'SepalLengthCm':'sepal_length',
    'SepalWidthCm':'sepal_width',
    'PetalLengthCm':'petal_length',
    'PetalWidthCm':'petal_width',
    'Species':'species'
}, inplace=True)
df = df.drop(columns=['Id'], errors='ignore')
df.head()
df['species'] = df['species'].astype('category')


df.shape, df.dtypes, df.isna().sum()

display(df.describe(include='all').T)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
sepal_length,150.0,NaN,NaN,NaN,5.843333,0.828066,4.3,5.1,5.8,6.4,7.9
sepal_width,150.0,NaN,NaN,NaN,3.057333,0.435866,2.0,2.8,3.0,3.3,4.4
petal_length,150.0,NaN,NaN,NaN,3.758,1.765298,1.0,1.6,4.35,5.1,6.9
petal_width,150.0,NaN,NaN,NaN,1.199333,0.762238,0.1,0.3,1.3,1.8,2.5
species,150,3,setosa,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3.  Preguntas de negocio:
    Escribe 3–5 preguntas propias y ordénalas por prioridad.

    ¿Qué especie de iris tiene la mayor variabilidad en la longitud del sépalo?

In [ ]:
# agrupa por especie y calcula la desviación estándar de la longitud del sépalo
df.groupby('species')['sepal_length'].std()
# Para la pregunta 1 vemos que la virginica es la que presenta una desviación estándar más alta, 
# lo que indica que tiene la mayor variabilidad en la longitud del sépalo.

C:\Users\arias\AppData\Local\Temp\ipykernel_12432\3470082474.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('species')['sepal_length'].std()

species
setosa        0.352490
versicolor    0.516171
virginica     0.635880
Name: sepal_length, dtype: float64

¿Existe una correlación positiva entre la longitud del sépalo y la longitud del pétalo?

In [ ]:
# Muestra la correlación entre el largo del pétalo y el largo del sépalo
df[['sepal_length', 'petal_length']].corr()
# La tabla nos muestra una fuerte correlación entre el largo del sépalo y el pétalo
# Mientras más largo sea el sépalo el largo del pétalo también tiende a ser más largo

              sepal_length  petal_length
sepal_length      1.000000      0.871754
petal_length      0.871754      1.000000

¿Existen diferencias notables en la longitud del pétalo entre las diferentes especies?

Consigna 6
. Plausibilidad y rangos
Construye results/reportes/range_check.csv con columnas: feature, unidad, tipo, rango_esperado, %missing, obs_min, obs_max, flag.
Pistas:

Usá DataFrame.select_dtypes para identificar columnas numéricas.
df[col].agg(['min','max']) y df[col].isna().mean() ayudan a llenar la tabla.
Para flag, compará contra tu rango esperado con Series.between o Series.isin.

In [4]:
range_check_cvs = ["feature", "unidad", "tipo", "rango_esperado", "%missing"," obs_min"," obs_max", "flag"]